In [1]:
import time
from selenium import webdriver
import json
import pandas as pd
from pandas.io.json import json_normalize

In [2]:
root_url="https://shopee.co.id/api/v4/pages/get_popular_collection?catid=11044458"
driver = webdriver.Chrome(executable_path='C:/Users/User/Downloads/chromedriver_win32/chromedriver.exe')
driver.get(root_url)
root_read = driver.page_source

In [3]:
root_read

'<html><head></head><body><pre style="word-wrap: break-word; white-space: pre-wrap;">{"data":{"popular_collection_list":[{"module_id":55,"catid":11044458,"group_id":121,"title":"Handphone Terlaris","description":"Handphone Terlaris","redirect_url":null,"enable_subtitle_text":true,"displayed_platform":[1,0],"display_start_time":0,"display_end_time":1635699599,"collection_list":[{"collection_id":892405,"order":1,"name":"iPhone | Handphone Terlaris | 1-31 Okt","title":"iPhone","subtitle":null,"img":"563c82cbd0aa559cc70be3899e11d201","img_status":6,"item_count":null,"normal_item_price_min":185000000000},{"collection_id":892404,"order":2,"name":"Infinix | Handphone Terlaris | 1-31 Okt","title":"Infinix","subtitle":null,"img":"7f7c5c7f3adbbdeb23b67f35087b0987","img_status":6,"item_count":null,"normal_item_price_min":105000000000},{"collection_id":892403,"order":3,"name":"realme | Handphone Terlaris | 1-31 Okt","title":"realme","subtitle":null,"img":"dcef5c7276f5b0f10c5a0939c1ddb470","img_status":6,"item_count":null,"normal_item_price_min":112990000000},{"collection_id":892402,"order":4,"name":"Xiaomi | Handphone Terlaris | 1-31 Okt","title":"Xiaomi","subtitle":null,"img":"8f2683d0101a6380566ec74e75d7d776","img_status":6,"item_count":null,"normal_item_price_min":37800000000},{"collection_id":892401,"order":5,"name":"OPPO | Handphone Terlaris | 1-31 Okt","title":"OPPO","subtitle":null,"img":"e9f4b6b05c129d1bc83c8840a89d6f79","img_status":6,"item_count":null,"normal_item_price_min":59900000000},{"collection_id":892400,"order":6,"name":"Samsung | Handphone Terlaris | 1-31 Okt","title":"Samsung","subtitle":null,"img":"d6e15ad73e74509f55b0c179a460e576","img_status":6,"item_count":null,"normal_item_price_min":85000000000}]}]},"error":0,"error_msg":""}\n</pre></body></html>'

In [4]:
first_index_root=root_read.find('{"data"')
root_index_full=int(len(root_read))
data_root=root_read[first_index_root:root_index_full-20]

In [5]:
data_root_json=json.loads(data_root)
# data_root_json

In [6]:
collection_data=data_root_json['data']['popular_collection_list']
# collection_data

In [7]:
total_element=len(collection_data[0]['collection_list'])
# total_element
collection_id=[]
phone_brands=[]
for i in range(0, total_element):
    collectionid=collection_data[0]['collection_list'][i]['collection_id']
    collection_id.append(collectionid)

    title=collection_data[0]['collection_list'][i]['title']
    phone_brands.append(title)
    
print(collection_id)
print(phone_brands)

[892405, 892404, 892403, 892402, 892401, 892400]
['iPhone', 'Infinix', 'realme', 'Xiaomi', 'OPPO', 'Samsung']

In [8]:
print(len([collection_id][2]))

IndexError: list index out of range

In [9]:
for i in range(0, 6):
    print(collection_id[i])

892405
892404
892403
892402
892401
892400

In [8]:
for i in range (0, 5):
    print(f"{i}: {i*60}")

0: 0
1: 60
2: 120
3: 180
4: 240

In [23]:
empty_dataframe1 = pd.DataFrame()
for brand in range(0, 6):
    for page in range (0, 5):
        link=f"https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id={collection_id[brand]}&newest={page*60}&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2"
        print (link)

        driver = webdriver.Chrome(executable_path='C:/Users/User/Downloads/chromedriver_win32/chromedriver.exe')
        driver.get(link)
        aa = driver.page_source


        first_index=aa.find('{"bff_meta"')
        first_index
        index_full=int(len(aa))
        data_aa=aa[first_index:index_full-20]


        data_json=json.loads(data_aa)
        items= data_json['items']
        while not items:
            print("kosong")
            break

        length_data=len(data_json['items'])


        for i in range (0, length_data):
            items_data=data_json['items'][i]['item_basic']
            items_data=json_normalize(items_data)
            df=pd.DataFrame(items_data)
            
            df['item_rating.rating_count']=df['item_rating.rating_count'][0][0] 
            df['brand']=phone_brands[brand]
            df['rootcategory_name']='Handphone &amp; Tablet'
            
            df = df[['itemid', 
             'shopid', 
             'name', 
             'price_max', 
             'show_discount',
             'rootcategory_name', 
             'brand', 
             'item_rating.rating_star', 
             'item_rating.rating_count',
             'shop_location'  ]]

#             df['coin_info']=df['coin_info'].replace(phone_brands[brand])
#             print(phone_brands[brand])
            empty_dataframe1=empty_dataframe1.append(df, ignore_index = True)    


# print(len(data_json['items']))

https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892405&newest=0&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2

<ipython-input-23-04ce4b399633>:29: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  items_data=json_normalize(items_data)

https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892405&newest=60&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892405&newest=120&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892405&newest=180&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892405&newest=240&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
kosong
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892404&newest=0&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892404&newest=60&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
kosong
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892404&newest=120&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
kosong
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892404&newest=180&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
kosong
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892404&newest=240&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
kosong
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892403&newest=0&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892403&newest=60&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
kosong
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892403&newest=120&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
kosong
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892403&newest=180&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
kosong
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892403&newest=240&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
kosong
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892402&newest=0&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892402&newest=60&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
kosong
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892402&newest=120&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
kosong
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892402&newest=180&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
kosong
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892402&newest=240&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
kosong
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892401&newest=0&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892401&newest=60&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892401&newest=120&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
kosong
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892401&newest=180&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
kosong
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892401&newest=240&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
kosong
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892400&newest=0&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892400&newest=60&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892400&newest=120&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
kosong
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892400&newest=180&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
kosong
https://shopee.co.id/api/v4/search/search_items?by=relevancy&limit=60&match_id=892400&newest=240&order=desc&page_type=collection&scenario=PAGE_COLLECTION_SEARCH&version=2
kosong

In [24]:
df=empty_dataframe1

In [25]:
df

,itemid,shopid,name,price_max,show_discount,rootcategory_name,brand,item_rating.rating_star,item_rating.rating_count,shop_location
0,4277189246,331370112,"Apple iPhone 12 mini 64GB, (PRODUCT)RED",1299900000000,0,Handphone &amp; Tablet,iPhone,0.000000,0,KOTA JAKARTA UTARA
1,7853124633,255563049,Apple iPhone SE 256GB White,949900000000,14,Handphone &amp; Tablet,iPhone,4.750000,4,KOTA JAKARTA SELATAN
2,6137357352,193189453,IPHONE X 256GB/64GB SECOND Original fullset,515900000000,21,Handphone &amp; Tablet,iPhone,4.851380,471,KOTA JAKARTA BARAT
3,4312219803,61376437,iphone X 64GB + 256GB Apple TEN Bekas Ori Seco...,527000000000,22,Handphone &amp; Tablet,iPhone,4.792557,1263,KOTA JAKARTA PUSAT
4,3750282904,20962124,APPLE IPHONE XR LIKE NEW FULSET ORIGINAL SATU ...,615000000000,0,Handphone &amp; Tablet,iPhone,4.893365,844,KOTA PEKANBARU
...,...,...,...,...,...,...,...,...,...,...
538,5658398495,52635036,Samsung Galaxy A02s (3/32GB) Black,174500000000,3,Handphone &amp; Tablet,Samsung,4.889291,1933,KOTA JAKARTA UTARA
539,3279906975,52635036,Samsung Galaxy A32 Awesome Blue 6/128 GB,359900000000,0,Handphone &amp; Tablet,Samsung,4.939130,115,KOTA JAKARTA UTARA
540,7782245760,52635036,Samsung Galaxy S20 FE 256 GB - Cloud Mint,1099900000000,0,Handphone &amp; Tablet,Samsung,0.000000,0,KOTA JAKARTA UTARA
541,2978029048,52635036,Samsung Galaxy Buds2 - Graphite,148080000000,13,Handphone &amp; Tablet,Samsung,0.000000,0,KOTA JAKARTA UTARA
542,9877295249,52635036,Samsung Galaxy Buds2 - Lavender,161740000000,5,Handphone &amp; Tablet,Samsung,5.000000,4,KOTA JAKARTA UTARA

In [26]:
df['name'] = df['name'].str.replace('%', '')
df

,itemid,shopid,name,price_max,show_discount,rootcategory_name,brand,item_rating.rating_star,item_rating.rating_count,shop_location
0,4277189246,331370112,"Apple iPhone 12 mini 64GB, (PRODUCT)RED",1299900000000,0,Handphone &amp; Tablet,iPhone,0.000000,0,KOTA JAKARTA UTARA
1,7853124633,255563049,Apple iPhone SE 256GB White,949900000000,14,Handphone &amp; Tablet,iPhone,4.750000,4,KOTA JAKARTA SELATAN
2,6137357352,193189453,IPHONE X 256GB/64GB SECOND Original fullset,515900000000,21,Handphone &amp; Tablet,iPhone,4.851380,471,KOTA JAKARTA BARAT
3,4312219803,61376437,iphone X 64GB + 256GB Apple TEN Bekas Ori Seco...,527000000000,22,Handphone &amp; Tablet,iPhone,4.792557,1263,KOTA JAKARTA PUSAT
4,3750282904,20962124,APPLE IPHONE XR LIKE NEW FULSET ORIGINAL SATU ...,615000000000,0,Handphone &amp; Tablet,iPhone,4.893365,844,KOTA PEKANBARU
...,...,...,...,...,...,...,...,...,...,...
538,5658398495,52635036,Samsung Galaxy A02s (3/32GB) Black,174500000000,3,Handphone &amp; Tablet,Samsung,4.889291,1933,KOTA JAKARTA UTARA
539,3279906975,52635036,Samsung Galaxy A32 Awesome Blue 6/128 GB,359900000000,0,Handphone &amp; Tablet,Samsung,4.939130,115,KOTA JAKARTA UTARA
540,7782245760,52635036,Samsung Galaxy S20 FE 256 GB - Cloud Mint,1099900000000,0,Handphone &amp; Tablet,Samsung,0.000000,0,KOTA JAKARTA UTARA
541,2978029048,52635036,Samsung Galaxy Buds2 - Graphite,148080000000,13,Handphone &amp; Tablet,Samsung,0.000000,0,KOTA JAKARTA UTARA
542,9877295249,52635036,Samsung Galaxy Buds2 - Lavender,161740000000,5,Handphone &amp; Tablet,Samsung,5.000000,4,KOTA JAKARTA UTARA

In [27]:
df.rename(columns={'itemid': 'id'}, inplace=True)
df.rename(columns={'shopid': 'sku'}, inplace=True)

df.rename(columns={'price_max': 'price_offerPriceDisplay'}, inplace=True)
df.rename(columns={'show_discount': 'price_discount'}, inplace=True)


df.rename(columns={'item_rating.rating_star': 'review_rating'}, inplace=True)
df.rename(columns={'item_rating.rating_count': 'review_count'}, inplace=True)
df.rename(columns={'shop_location': 'location'}, inplace=True)

In [28]:
df

,id,sku,name,price_offerPriceDisplay,price_discount,rootcategory_name,brand,review_rating,review_count,location
0,4277189246,331370112,"Apple iPhone 12 mini 64GB, (PRODUCT)RED",1299900000000,0,Handphone &amp; Tablet,iPhone,0.000000,0,KOTA JAKARTA UTARA
1,7853124633,255563049,Apple iPhone SE 256GB White,949900000000,14,Handphone &amp; Tablet,iPhone,4.750000,4,KOTA JAKARTA SELATAN
2,6137357352,193189453,IPHONE X 256GB/64GB SECOND Original fullset,515900000000,21,Handphone &amp; Tablet,iPhone,4.851380,471,KOTA JAKARTA BARAT
3,4312219803,61376437,iphone X 64GB + 256GB Apple TEN Bekas Ori Seco...,527000000000,22,Handphone &amp; Tablet,iPhone,4.792557,1263,KOTA JAKARTA PUSAT
4,3750282904,20962124,APPLE IPHONE XR LIKE NEW FULSET ORIGINAL SATU ...,615000000000,0,Handphone &amp; Tablet,iPhone,4.893365,844,KOTA PEKANBARU
...,...,...,...,...,...,...,...,...,...,...
538,5658398495,52635036,Samsung Galaxy A02s (3/32GB) Black,174500000000,3,Handphone &amp; Tablet,Samsung,4.889291,1933,KOTA JAKARTA UTARA
539,3279906975,52635036,Samsung Galaxy A32 Awesome Blue 6/128 GB,359900000000,0,Handphone &amp; Tablet,Samsung,4.939130,115,KOTA JAKARTA UTARA
540,7782245760,52635036,Samsung Galaxy S20 FE 256 GB - Cloud Mint,1099900000000,0,Handphone &amp; Tablet,Samsung,0.000000,0,KOTA JAKARTA UTARA
541,2978029048,52635036,Samsung Galaxy Buds2 - Graphite,148080000000,13,Handphone &amp; Tablet,Samsung,0.000000,0,KOTA JAKARTA UTARA
542,9877295249,52635036,Samsung Galaxy Buds2 - Lavender,161740000000,5,Handphone &amp; Tablet,Samsung,5.000000,4,KOTA JAKARTA UTARA

In [29]:
import numpy as np
df['price_offerPriceDisplay'] = df['price_offerPriceDisplay'].astype(str).str[:-5].astype(np.int64)

df

,id,sku,name,price_offerPriceDisplay,price_discount,rootcategory_name,brand,review_rating,review_count,location
0,4277189246,331370112,"Apple iPhone 12 mini 64GB, (PRODUCT)RED",12999000,0,Handphone &amp; Tablet,iPhone,0.000000,0,KOTA JAKARTA UTARA
1,7853124633,255563049,Apple iPhone SE 256GB White,9499000,14,Handphone &amp; Tablet,iPhone,4.750000,4,KOTA JAKARTA SELATAN
2,6137357352,193189453,IPHONE X 256GB/64GB SECOND Original fullset,5159000,21,Handphone &amp; Tablet,iPhone,4.851380,471,KOTA JAKARTA BARAT
3,4312219803,61376437,iphone X 64GB + 256GB Apple TEN Bekas Ori Seco...,5270000,22,Handphone &amp; Tablet,iPhone,4.792557,1263,KOTA JAKARTA PUSAT
4,3750282904,20962124,APPLE IPHONE XR LIKE NEW FULSET ORIGINAL SATU ...,6150000,0,Handphone &amp; Tablet,iPhone,4.893365,844,KOTA PEKANBARU
...,...,...,...,...,...,...,...,...,...,...
538,5658398495,52635036,Samsung Galaxy A02s (3/32GB) Black,1745000,3,Handphone &amp; Tablet,Samsung,4.889291,1933,KOTA JAKARTA UTARA
539,3279906975,52635036,Samsung Galaxy A32 Awesome Blue 6/128 GB,3599000,0,Handphone &amp; Tablet,Samsung,4.939130,115,KOTA JAKARTA UTARA
540,7782245760,52635036,Samsung Galaxy S20 FE 256 GB - Cloud Mint,10999000,0,Handphone &amp; Tablet,Samsung,0.000000,0,KOTA JAKARTA UTARA
541,2978029048,52635036,Samsung Galaxy Buds2 - Graphite,1480800,13,Handphone &amp; Tablet,Samsung,0.000000,0,KOTA JAKARTA UTARA
542,9877295249,52635036,Samsung Galaxy Buds2 - Lavender,1617400,5,Handphone &amp; Tablet,Samsung,5.000000,4,KOTA JAKARTA UTARA

In [30]:
df.dtypes

id                           int64
sku                          int64
name                        object
price_offerPriceDisplay      int64
price_discount               int64
rootcategory_name           object
brand                       object
review_rating              float64
review_count                 int64
location                    object
dtype: object

In [31]:
df['id']=df['id'].apply(str)
df['sku']=df['sku'].apply(str)
df.dtypes

id                          object
sku                         object
name                        object
price_offerPriceDisplay      int64
price_discount               int64
rootcategory_name           object
brand                       object
review_rating              float64
review_count                 int64
location                    object
dtype: object

In [32]:
import psycopg2

In [33]:

conn_params_dic = {
    "host"      : "localhost",
    "database"  : "postgres",
    "user"      : "postgres",
    "password"  : "1234"
}

In [34]:
def connect(conn_params_dic):
    conn = None
    try:
        print('Connecting to the PostgreSQL...........')
        conn = psycopg2.connect(**conn_params_dic)
        print("Connection successfully..................")
        
    except OperationalError as err:
        # passing exception to function
        show_psycopg2_exception(err)        
        # set the connection to 'None' in case of error
        conn = None
    return conn

In [35]:

def execute_mogrify(conn, df, table):
    """
    Using cursor.mogrify() to build the bulk insert query
    then cursor.execute() to execute the query
    """
    # Create a list of tupples from the dataframe values
    tuples = [tuple(x) for x in df.to_numpy()]
    
#     print(tuples)
    # Comma-separated dataframe columns
    cols = ','.join(list(df.columns))
    
    
#     print(cols)
    # SQL quert to execute
    cursor = conn.cursor()
    values = [cursor.mogrify("(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)", tup).decode('utf8') for tup in tuples]
    query  = "INSERT INTO %s(%s) VALUES " % (table, cols) + ",".join(values)
    
    try:
        cursor.execute(query, tuples)
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        conn.rollback()
        cursor.close()
        return 1
    print("execute_mogrify() done")
    cursor.close()

In [36]:
# Connect to the database
conn = connect(conn_params_dic)

# Run the execute_many strategy
execute_mogrify(conn, df, 'please')

Connecting to the PostgreSQL...........
Connection successfully..................
execute_mogrify() done

In [79]:

length_data=len(data_json['items'])
length_data

58

In [74]:
data_json['items'][59]['item_basic']

{'itemid': 5967529147,
 'shopid': 241308147,
 'name': 'Apple iPhone 12 Pro Max 256GB, Pacific Blue',
 'label_ids': [1000579,
  1001327,
  1001350,
  1001325,
  1001761,
  1001657,
  1001949,
  1001619,
  1001621,
  1001630,
  1002346,
  1002351,
  1002642,
  1002505,
  1002676,
  1002502,
  1002689,
  1003121,
  1002164,
  1003291,
  1003074,
  1003072,
  1004479,
  1004517,
  1004617,
  1004957,
  1004960,
  1005401,
  1005713,
  1005285,
  1005296,
  1005283,
  1006492,
  1006491,
  1006732,
  1006945,
  1006502,
  1007273,
  1007326,
  1007379,
  1007892,
  1000246,
  1008398,
  1008586,
  1009360,
  1009787,
  1003293,
  1003290,
  1003277,
  22,
  1000909,
  1003934,
  1003954,
  1004480,
  1004544,
  1004951,
  1005719,
  1005994,
  1000006,
  1007864,
  1000247,
  1001034,
  1008352,
  1008480,
  1008552,
  1008571,
  1008572,
  1008573,
  1001022,
  1008700,
  1008767,
  1007613,
  1008849,
  1009217,
  1009266,
  1009408,
  1009449,
  1009784,
  1009772,
  1009832,
  1007093,
  1008440,
  1008441],
 'image': '99874db6502329f74e8e89291967c163',
 'images': ['99874db6502329f74e8e89291967c163',
  '4d47ee3fbc775025468e882d006216a0',
  '76f3234a9b79a3e2d27bbac2d2caebb5',
  '07d9395ef638178f599c5a6cd91485c1',
  'de27912eb53b1a6c0121eda07c162618',
  'c05fcb38a0617f5bb0b4de4b71a254d6',
  '71953e3c4abd13a9112102190d35e21b',
  '8d239e32e3d30fbd4c0ed7a6b24df05a',
  '4ca5ac8f3f2f8df466d993904deb41dd'],
 'currency': 'IDR',
 'stock': 2,
 'status': 1,
 'ctime': 1606999876,
 'sold': 27,
 'historical_sold': 1313,
 'liked': False,
 'liked_count': 15373,
 'view_count': 154357,
 'catid': 100013,
 'brand': 'Apple',
 'cmt_count': 659,
 'flag': 917506,
 'cb_option': 0,
 'item_status': 'normal',
 'price': 2049900000000,
 'price_min': 2049900000000,
 'price_max': 2049900000000,
 'price_min_before_discount': 2299900000000,
 'price_max_before_discount': 2299900000000,
 'hidden_price_display': None,
 'price_before_discount': 2299900000000,
 'has_lowest_price_guarantee': False,
 'show_discount': 11,
 'raw_discount': 11,
 'discount': '11%',
 'is_category_failed': False,
 'size_chart': None,
 'video_info_list': None,
 'tier_variations': [{'name': '',
   'options': [''],
   'images': None,
   'properties': [],
   'type': 0}],
 'item_rating': {'rating_star': 4.9117199391172,
  'rating_count': [659, 6, 1, 8, 22, 622],
  'rcount_with_context': 226,
  'rcount_with_image': 186},
 'item_type': 0,
 'reference_item_id': '',
 'transparent_background_image': '99874db6502329f74e8e89291967c163',
 'is_adult': False,
 'badge_icon_type': 0,
 'shopee_verified': False,
 'is_official_shop': True,
 'show_official_shop_label': True,
 'show_shopee_verified_label': False,
 'show_official_shop_label_in_title': True,
 'is_cc_installment_payment_eligible': True,
 'is_non_cc_installment_payment_eligible': True,
 'coin_earn_label': None,
 'show_free_shipping': True,
 'preview_info': None,
 'coin_info': None,
 'exclusive_price_info': None,
 'bundle_deal_id': 0,
 'can_use_bundle_deal': False,
 'bundle_deal_info': None,
 'is_group_buy_item': None,
 'has_group_buy_stock': None,
 'group_buy_info': None,
 'welcome_package_type': 0,
 'welcome_package_info': None,
 'add_on_deal_info': {'add_on_deal_id': 5106717,
  'add_on_deal_label': 'Kombo Hemat',
  'sub_type': 0,
  'status': 1},
 'can_use_wholesale': False,
 'is_preferred_plus_seller': False,
 'shop_location': 'KOTA JAKARTA UTARA',
 'has_model_with_available_shopee_stock': False,
 'voucher_info': {'promotion_id': 208083482181632,
  'voucher_code': 'IBOX500K',
  'label': 'Diskon Rp500RB'},
 'can_use_cod': False,
 'is_on_flash_sale': False,
 'spl_installment_tenure': None,
 'is_live_streaming_price': None,
 'is_mart': False,
 'pack_size': None,
 'deep_discount_skin': None}

In [76]:
empty_dataframe1 = pd.DataFrame()

for i in range (0, 60):
    items_data=data_json['items'][i]['item_basic']
    items_data=json_normalize(items_data)
    df=pd.DataFrame(items_data)
    df = df[['itemid', 
         'shopid', 
         'name', 
         'price_max', 
         'show_discount',
         'status',
         'name', 
         'item_rating.rating_star', 
         'item_rating.rating_count',
         'shop_location'  ]]
    df['item_rating.rating_count']=df['item_rating.rating_count'][0][0] 
    empty_dataframe1=empty_dataframe1.append(df, ignore_index = True)

<ipython-input-76-376fe3dbed64>:5: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  items_data=json_normalize(items_data)

In [77]:
empty_dataframe1

,itemid,shopid,name,price_max,show_discount,status,name,item_rating.rating_star,item_rating.rating_count,shop_location
0,4277189246,331370112,"Apple iPhone 12 mini 64GB, (PRODUCT)RED",1299900000000,0,1,"Apple iPhone 12 mini 64GB, (PRODUCT)RED",0.000000,0,KOTA JAKARTA UTARA
1,7853124633,255563049,Apple iPhone SE 256GB White,949900000000,14,1,Apple iPhone SE 256GB White,4.750000,4,KOTA JAKARTA SELATAN
2,6137357352,193189453,IPHONE X 256GB/64GB SECOND Original fullset,515900000000,21,1,IPHONE X 256GB/64GB SECOND Original fullset,4.852564,468,KOTA JAKARTA BARAT
3,4312219803,61376437,iphone X 64GB + 256GB Apple TEN Bekas Ori Seco...,523500000000,22,1,iphone X 64GB + 256GB Apple TEN Bekas Ori Seco...,4.797136,1257,KOTA JAKARTA PUSAT
4,3750282904,20962124,APPLE IPHONE XR LIKE NEW FULSET ORIGINAL SATU ...,615000000000,0,1,APPLE IPHONE XR LIKE NEW FULSET ORIGINAL SATU ...,4.892857,840,KOTA PEKANBARU
5,9238250778,61376437,iPhone Xs 256GB 64GB 512 Second Fulset seken e...,639000000000,18,1,iPhone Xs 256GB 64GB 512 Second Fulset seken e...,4.712082,389,KOTA JAKARTA PUSAT
6,8510806341,331370112,"Apple iPhone 12 Pro 256GB, Silver",2099900000000,0,1,"Apple iPhone 12 Pro 256GB, Silver",0.000000,0,KOTA JAKARTA UTARA
7,9512489834,61376437,iphone 11 256GB/128GB/64GB Second BEKAS ORIGIN...,838000000000,30,1,iphone 11 256GB/128GB/64GB Second BEKAS ORIGIN...,4.810753,465,KOTA JAKARTA PUSAT
8,1905811462,21287159,iPhone 8 Plus 64GB/128GB/256GB BEKAS ORi 100% ...,500000000000,0,1,iPhone 8 Plus 64GB/128GB/256GB BEKAS ORi 100% ...,4.862406,1331,KOTA JAKARTA BARAT
9,10702540042,28796893,Apple Iphone 8 64GB 256GB Like New,365000000000,0,1,Apple Iphone 8 64GB 256GB Like New,4.839117,318,KOTA PEKANBARU
10,3760660054,30760143,iphone 11 PROMAX 64GB/256GB SECOUND LIKE NEW B...,1195000000000,48,1,iphone 11 PROMAX 64GB/256GB SECOUND LIKE NEW B...,4.914286,210,KOTA JAKARTA TIMUR
11,4367531219,241308147,"Apple iPhone 12 mini 64GB, (PRODUCT)RED",1099900000000,15,1,"Apple iPhone 12 mini 64GB, (PRODUCT)RED",4.957447,47,KOTA JAKARTA UTARA
12,1905814571,21287159,iPhone 8 64GB/256GB BEKAS ORI 100% | MULUS NOR...,360000000000,0,1,iPhone 8 64GB/256GB BEKAS ORI 100% | MULUS NOR...,4.869539,1648,KOTA JAKARTA BARAT
13,9402678505,349439812,iPhone 8 Plus 256GB 64GB Second Mulus Original...,439000000000,0,1,iPhone 8 Plus 256GB 64GB Second Mulus Original...,4.868333,600,KOTA JAKARTA UTARA
14,4477177596,331370112,"Apple iPhone 12 mini 128GB, (PRODUCT)RED",1449900000000,0,1,"Apple iPhone 12 mini 128GB, (PRODUCT)RED",5.000000,1,KOTA JAKARTA UTARA
15,6767533990,255563049,Apple iPhone 12 mini 128GB (PRODUCT)RED,1199900000000,17,1,Apple iPhone 12 mini 128GB (PRODUCT)RED,3.727273,11,KOTA JAKARTA SELATAN
16,2182505441,21287159,iPhone XR 256GB/128GB/64GB BEKAS ORIGINAL 100%...,630000000000,0,1,iPhone XR 256GB/128GB/64GB BEKAS ORIGINAL 100%...,4.871915,2350,KOTA JAKARTA BARAT
17,6162398257,30760143,iPhone 11 PRO Ram 64GB/256GB SECOND LIKE NEW B...,1055000000000,52,1,iPhone 11 PRO Ram 64GB/256GB SECOND LIKE NEW B...,4.942363,347,KOTA JAKARTA TIMUR
18,4267522130,241308147,"Apple iPhone 12 mini 128GB, (PRODUCT)RED",1249900000000,14,1,"Apple iPhone 12 mini 128GB, (PRODUCT)RED",4.866667,45,KOTA JAKARTA UTARA
19,3467632039,255563049,Apple iPhone 12 64GB Blue,1249900000000,17,1,Apple iPhone 12 64GB Blue,4.891304,47,KOTA JAKARTA SELATAN
20,5067515311,241308147,"Apple iPhone 12 64GB, Blue",1299900000000,13,1,"Apple iPhone 12 64GB, Blue",4.937220,223,KOTA JAKARTA UTARA
21,8801971471,241308147,"Apple iPhone 12 64GB, Black",1299900000000,13,1,"Apple iPhone 12 64GB, Black",4.905512,255,KOTA JAKARTA UTARA
22,8910800737,32229628,iphone xr 64 / 128 gb fullsett,620000000000,0,1,iphone xr 64 / 128 gb fullsett,4.799043,209,KAB. SIDOARJO
23,1045822337,21287159,iPhone 7 256GB/128GB/32GB Bekas Original 100% ...,240000000000,0,1,iPhone 7 256GB/128GB/32GB Bekas Original 100% ...,4.826700,2764,KOTA JAKARTA BARAT
24,7967508285,241308147,"Apple iPhone 12 64GB, (PRODUCT)RED",1299900000000,13,1,"Apple iPhone 12 64GB, (PRODUCT)RED",4.921875,64,KOTA JAKARTA UTARA
25,6767544079,255563049,Apple iPhone 12 64GB (PRODUCT)RED,1249900000000,17,1,Apple iPhone 12 64GB (PRODUCT)RED,5.000000,12,KOTA JAKARTA SELATAN
26,3962705132,85495952,IPHONE X 256gb/ 64GB second originai 100% mu...,522500000000,0,1,IPHONE X 256gb/ 64GB second originai 100% mu...,4.858018,979,KOTA JAKARTA TIMUR
27,6577176505,331370112,"Apple iPhone 12 128GB, White",1649900000000,0,1,"Apple iPhone 12 128GB, White",5.000000,9,KOTA JAKARTA UTARA
28,5965356144,20962124,APPLE IPHONE 7 plus ORIGINAL SATU MILIYAR PERSEN,360000000000,0,1,APPLE IPHONE 7 plus ORIGINAL SATU MILIYAR PERSEN,4.866521,457,KOTA PEKANBARU
29,6771967288,20962124,APPLE IPHONE XS Ex-International Mulus Like New,660000000000,0,1,APPLE IPHONE XS Ex-International Mulus Like New,4.810700,243,KOTA PEKANBARU
30,4615127777,61376437,iPhone Xs Max 256GB 64GB Second Fulset seken e...,739000000000,27,1,iPhone Xs Max 256GB 64GB Second Fulset seken e...,4.816176,408,KOTA JAKARTA PUSAT
31,5967505614,241308147,"Apple iPhone 12 128GB, (PRODUCT)RED",1449900000000,12,1,"Apple iPhone 12 128GB, (PRODUCT)RED",4.990385,104,KOTA JAKARTA UTARA
32,1008913419,21287159,iPhone 7 Plus 32GB/128GB/256GB Bekas Original ...,385000000000,0,1,iPhone 7 Plus 32GB/128GB/256GB Bekas Original ...,4.797297,1406,KOTA JAKARTA BARAT
33,1819437990,61376437,iphone 7 Plus 128GB 32GB 256GB Fulset Mulus E ...,372500000000,48,1,iphone 7 Plus 128GB 32GB 256GB Fulset Mulus E ...,4.770035,287,KOTA JAKARTA PUSAT
34,3518315871,21287159,iPhone 11 256GB/128GB/64GB Original 100% | Se...,880000000000,0,1,iPhone 11 256GB/128GB/64GB Original 100% | Se...,4.850174,574,KOTA JAKARTA BARAT
35,3768254571,20962124,APPLE IPHONE 8 Second Like New Original Fullset,325000000000,0,1,APPLE IPHONE 8 Second Like New Original Fullset,4.853119,497,KOTA PEKANBARU
36,8752443220,28796893,Apple Iphone 7 32GB 128GB Like New,210000000000,0,1,Apple Iphone 7 32GB 128GB Like New,4.816733,251,KOTA PEKANBARU
37,7302492098,30760143,iphone XS MAX 64GB-256GB SECOND LIKE NEW BERG...,675000000000,60,1,iphone XS MAX 64GB-256GB SECOND LIKE NEW BERG...,4.942708,192,KOTA JAKARTA TIMUR
38,7467544018,255563049,Apple iPhone 12 128GB Blue,1449900000000,12,1,Apple iPhone 12 128GB Blue,4.804598,87,KOTA JAKARTA SELATAN
39,891106985,8039037,iphonee 7 Plus 128GB black red rose gold silve...,354900000000,0,1,iphonee 7 Plus 128GB black red rose gold silve...,4.841202,466,KOTA JAKARTA UTARA
40,9902001243,255563049,Apple iPhone 12 128GB White,1449900000000,12,1,Apple iPhone 12 128GB White,4.783133,83,KOTA JAKARTA SELATAN
41,5612221964,61376437,iPhone 8 Plus 256GB/64GB Second Bekas Fulset M...,489900000000,22,1,iPhone 8 Plus 256GB/64GB Second Bekas Fulset M...,4.742754,276,KOTA JAKARTA PUSAT
42,4867535497,255563049,Apple iPhone 12 128GB (PRODUCT)RED,1449900000000,12,1,Apple iPhone 12 128GB (PRODUCT)RED,5.000000,11,KOTA JAKARTA SELATAN
43,1321880875,21287159,iPhone 6s Plus 16GB/32GB/64GB/128GB Bekas | Mu...,270000000000,0,1,iPhone 6s Plus 16GB/32GB/64GB/128GB Bekas | Mu...,4.865517,870,KOTA JAKARTA BARAT
44,3767620934,241308147,"Apple iPhone 12 256GB, Blue",1599900000000,11,1,"Apple iPhone 12 256GB, Blue",5.000000,31,KOTA JAKARTA UTARA
45,883271512,47745953,iphone 8 64gb second fullset mulus no kendala ...,309800000000,0,1,iphone 8 64gb second fullset mulus no kendala ...,4.798621,725,KOTA JAKARTA UTARA
46,4767545715,255563049,Apple iPhone 12 256GB Blue,1599900000000,11,1,Apple iPhone 12 256GB Blue,4.851852,27,KOTA JAKARTA SELATAN
47,4467546258,255563049,Apple iPhone 12 256GB Black,1599900000000,11,1,Apple iPhone 12 256GB Black,4.948718,39,KOTA JAKARTA SELATAN
48,7077176508,331370112,"Apple iPhone 12 64GB, White",1499900000000,0,1,"Apple iPhone 12 64GB, White",5.000000,1,KOTA JAKARTA UTARA
49,5650388571,282045580,iPhone Xr 128GB/256GB/64GB second fullset Mul...,623900000000,0,1,iPhone Xr 128GB/256GB/64GB second fullset Mul...,4.927107,439,KOTA JAKARTA UTARA
50,7767539072,255563049,Apple iPhone 12 256GB (PRODUCT)RED,1599900000000,11,1,Apple iPhone 12 256GB (PRODUCT)RED,4.666667,6,KOTA JAKARTA SELATAN
51,3918461711,21287159,iPhone 11 Pro Max 64GB/256GB/512GB Bekas Origi...,1220000000000,0,1,iPhone 11 Pro Max 64GB/256GB/512GB Bekas Origi...,4.883055,419,KOTA JAKARTA BARAT
52,7512221535,61376437,iPhone 8 256GB 64GB Second Fulset MULUS EX Int...,302500000000,50,1,iPhone 8 256GB 64GB Second Fulset MULUS EX Int...,4.740343,466,KOTA JAKARTA PUSAT
53,5167535489,255563049,Apple iPhone 12 256GB White,1599900000000,11,1,Apple iPhone 12 256GB White,4.880000,25,KOTA JAKARTA SELATAN
54,5167505778,241308147,"Apple iPhone 12 Pro 256GB, Graphite",1849900000000,12,1,"Apple iPhone 12 Pro 256GB, Graphite",4.973333,150,KOTA JAKARTA UTARA
55,3150326561,255563049,Apple iPhone 11 Pro 512GB Silver,1899900000000,34,1,Apple iPhone 11 Pro 512GB Silver,4.000000,5,KOTA JAKARTA SELATAN
56,3967621551,241308147,"Apple iPhone 12 Pro 256GB, Silver",1849900000000,12,1,"Apple iPhone 12 Pro 256GB, Silver",4.928571,42,KOTA JAKARTA UTARA
57,2828586563,47745953,iPhone 11 64gb Second Fullset No Minus Like Ne...,719800000000,0,1,iPhone 11 64gb Second Fullset No Minus Like Ne...,4.801262,317,KOTA JAKARTA UTARA
58,3762711380,85495952,IPHONE XR 64GB / 128 GB / 256 GB Second Fullse...,599900000000,0,1,IPHONE XR 64GB / 128 GB / 256 GB Second Fullse...,4.876820,893,KOTA JAKARTA TIMUR
59,5967529147,241308147,"Apple iPhone 12 Pro Max 256GB, Pacific Blue",2049900000000,11,1,"Apple iPhone 12 Pro Max 256GB, Pacific Blue",4.911720,659,KOTA JAKARTA UTARA

In [51]:
items_data=json_normalize(items_data)
items_data

<ipython-input-51-a6d4d0bf7445>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  items_data=json_normalize(items_data)

,itemid,shopid,name,label_ids,image,images,currency,stock,status,ctime,...,is_on_flash_sale,spl_installment_tenure,is_live_streaming_price,is_mart,pack_size,deep_discount_skin,item_rating.rating_star,item_rating.rating_count,item_rating.rcount_with_context,item_rating.rcount_with_image
0,4277189246,331370112,"Apple iPhone 12 mini 64GB, (PRODUCT)RED","[1003968, 1004617, 1006492, 1006491, 1006732, ...",01ac153bc9b2a42051f347cbececa590,"[01ac153bc9b2a42051f347cbececa590, f94ee2c9df0...",IDR,2,1,1611052061,...,False,None,None,False,None,None,0,"[0, 0, 0, 0, 0, 0]",0,0

In [23]:
items_data.columns

Index(['itemid', 'shopid', 'name', 'label_ids', 'image', 'images', 'currency',
       'stock', 'status', 'ctime', 'sold', 'historical_sold', 'liked',
       'liked_count', 'view_count', 'catid', 'brand', 'cmt_count', 'flag',
       'cb_option', 'item_status', 'price', 'price_min', 'price_max',
       'price_min_before_discount', 'price_max_before_discount',
       'hidden_price_display', 'price_before_discount',
       'has_lowest_price_guarantee', 'show_discount', 'raw_discount',
       'discount', 'is_category_failed', 'size_chart', 'video_info_list',
       'tier_variations', 'item_type', 'reference_item_id',
       'transparent_background_image', 'is_adult', 'badge_icon_type',
       'shopee_verified', 'is_official_shop', 'show_official_shop_label',
       'show_shopee_verified_label', 'show_official_shop_label_in_title',
       'is_cc_installment_payment_eligible',
       'is_non_cc_installment_payment_eligible', 'coin_earn_label',
       'show_free_shipping', 'preview_info', 'coin_info',
       'exclusive_price_info', 'bundle_deal_id', 'can_use_bundle_deal',
       'bundle_deal_info', 'is_group_buy_item', 'has_group_buy_stock',
       'group_buy_info', 'welcome_package_type', 'welcome_package_info',
       'add_on_deal_info', 'can_use_wholesale', 'is_preferred_plus_seller',
       'shop_location', 'has_model_with_available_shopee_stock', 'can_use_cod',
       'is_on_flash_sale', 'spl_installment_tenure', 'is_live_streaming_price',
       'is_mart', 'pack_size', 'deep_discount_skin', 'item_rating.rating_star',
       'item_rating.rating_count', 'item_rating.rcount_with_context',
       'item_rating.rcount_with_image', 'voucher_info.promotion_id',
       'voucher_info.voucher_code', 'voucher_info.label'],
      dtype='object')

In [25]:
df=pd.DataFrame(items_data)
df = df[['itemid', 
         'shopid', 
         'name', 
         'price_max', 
         'show_discount',
         'status',
         'name', 
         'item_rating.rating_star', 
         'item_rating.rating_count',
         'shop_location'  ]]
    #     df = df[['id', 'sku']]
df

,itemid,shopid,name,price_max,show_discount,status,name,item_rating.rating_star,item_rating.rating_count,shop_location
0,7935648789,255563049,Apple iPhone XR 64GB Black,749900000000,32,1,Apple iPhone XR 64GB Black,4.912972,"[609, 2, 3, 4, 28, 572]",KOTA JAKARTA SELATAN

In [33]:
df['item_rating.rating_count']=df['item_rating.rating_count'][0][0] 
# mau looping ya

In [34]:
df

,itemid,shopid,name,price_max,show_discount,status,name,item_rating.rating_star,item_rating.rating_count,shop_location
0,7935648789,255563049,Apple iPhone XR 64GB Black,749900000000,32,1,Apple iPhone XR 64GB Black,4.912972,609,KOTA JAKARTA SELATAN